# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [9]:
num = 1
num2 = 20
print(num, num2)

1 20

##### Assinging float - Float types are decimals

In [12]:
float_num = 2.0
print(type(float_num))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition (+)

In [15]:
print(num + num2)
print(float_num + num2)

21
22.0

##### Subtraction (-)

In [16]:
print(num - num2)
print(float_num - num2)

-19
-18.0

##### Multiplication (*)

In [17]:
print(num * num2)
print(float_num * num2)

20
40.0

##### Division (/)

In [18]:
print(num / num2)
print(float_num / num2)

0.05
0.1

##### Floor Division (//) - Normal division but returns the largest possible integer

In [19]:
print(20//3)

6

##### Modulo (%) - Returns the remainder of division

In [20]:
print(20 % 3)

2

##### Exponential (**)

In [21]:
print(5**2)

25

### String Input-Output

##### String Assignment

In [24]:
first_name = 'Dan'
last_name = 'zuluaga'
print(first_name, last_name)
print(type(first_name))

Dan zuluaga
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
print(first_name, end='rules')

Danrules

##### String Concatenation

In [28]:
print(first_name +' '+ last_name)

Dan zuluaga

##### Type Conversion

In [39]:
fav_num = '3'
num = 12
print(fav_num)
print(str(fav_num))
print(num + int(fav_num))

3
3
15

##### input()

In [43]:
age = int(input('what is your age?'))
print(type(age))

<class 'int'>

##### .format()

In [50]:
# using format method
greeting = 'hello my name is {} and i am {} years old.'.format('kevin', 22)
print(greeting)

first_name = 'zuko'
age = 3
# using f-strings
gretting_again = f'Hello my name is {first_name} and i am {age} years old'
print(gretting_again)

hello my name is kevin and i am 22 years old.
Hello my name is zuko and i am 3 years old

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [54]:
car = input('what color is your car?')
print(car)
year = input('what year is your car?')
print(year)
make =input('what make is your vehicle')
print(make)
model = input('what model is your vehicle')
print(model)

grey
2015
dodge
challenger

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

##### primitive data types = strings, ints, floats, boolean
##### non-primitive data types = arrays, lists, tuples, dictionarys, sets

In [55]:
list1 = ['dan', 'kathy', 'daisy']
list2 = ['dan', 'kathy', 'daisy']
print(list1 is list2)

False

##### 'in' keyword = used to check if a value is present in a sequence

In [56]:
material = ['python', 'sql']
print('python' in material)

True

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [58]:
chap = input('hows the weather?')
print(chap)

piss

## Using 'and'/'or' with If Statements

In [62]:
#(AND) Both conditionals need to be true for the if block to run
if (5 ==5 and 'thieves' == 'thieves'):
    print(True)
else:
    print(False)
#(OR) One conditional needs to be true for the if block to run

True

### Elif Statements

In [102]:
winning_num = 7
guessed_num = int(input('guess a number between 1-10'))
if (guessed_num > winning_num):
    print('wrong bih try again')
elif (guessed_num < winning_num):
    print('casi casi')
else:
    print('si se pudo!')

casi casi

### Else Statements

In [ ]:
# see above

### For Loops

In [79]:
instructors = ['chris', 'dylan', 'rando']
for name in instructors:
    print(name)

chris
dylan
rando

##### Continue Statement

In [89]:
# will continue to next iteration
for name in instructors:
    if(name == 'rando'):
        continue
print(name)

rando

##### Break Statement

In [91]:
# will break out of current loop
for name in instructors:
    if(name == 'dylan'):
        break
print(name)

dylan

##### Pass Statement

In [95]:
# mostly used as a placeholder, and will continue on same iteration
def using_pass():
    pass
    student1 = 'dan'

##### Double For Loops

In [96]:
colors = ['red', 'black', 'white']
cars = ['supra', 'challenger', 'gtr']

for color in colors:
    for car in cars:
        print(color, car)

red supra
red challenger
red gtr
black supra
black challenger
black gtr
white supra
white challenger
white gtr

### While Loops

In [98]:
# will run up until the condition is met
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [101]:
winning_num = 7
while True:
    guessed_num = int(input('guess a number between 1-10'))
    if (guessed_num > winning_num):
        print('wrong bih try again')
    elif (guessed_num < winning_num):
         print('casi casi')
    else:
         print('si se pudo!')
         break

casi casi
wrong bih try again
si se pudo!

##### While & For Loops Used Together

### Built-In Functions

##### range() - range(start,stop,step)

In [104]:
for num in range (5):
    print(num)

0
1
2
3
4

##### len() - finds the total number of elements in a data type

In [117]:
students = ['dan', 'alex','zuko']
for idx in range(len(students)):
    print(idx)

0
1
2

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [119]:
print(help(range))

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

None

##### isinstance() - checks if the object is the type

In [120]:
print(isinstance(2,str))

False

##### abs() - returns the absolute value

In [122]:
print(abs(-7))

7

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [129]:
while True:
    try:
        age = int(input('enter your age'))
        print(age)
        break
    except ValueError:
        print('please input a valid number')

please input a valid number
please input a valid number
28

### Lists

##### Declaring Lists

In [ ]:
students = ['maria', 'dan', 'gatsby']

##### Indexing a List

In [131]:
print(students[1])
print(students[-1])

alex
zuko

##### List Slicing (start, stop, step)

In [132]:
print(students[1:-1])

['alex']

##### .append() - Add element to end of list

In [134]:
students.append('gatsby')
print(students)

['dan', 'alex', 'zuko', 'gatsby']

##### .insert() - Inserts element at specific index

In [135]:
students.insert(1, 'danny')
print(students)

['dan', 'danny', 'alex', 'zuko', 'gatsby']

##### .pop() - removes the item at a specific index and returns it

In [137]:
popped = students.pop(0)
print(popped)
print(students)

dan
['danny', 'alex', 'zuko']


##### .remove() - removes the first matching value, not a specific index

In [ ]:
my_nums (1,1,12,2,2)

##### del - removes the item at a specific index

In [140]:
del my_nums[1]
print(ny_nums)

NameError: name 'my_nums' is not defined

##### Concatenating Two Lists

##### Lists Within Lists

In [144]:
nfl_teams = ['whatevs', 'eves','asddsa']
nba_teams = ('rels', 'dshjshd', 'asdsad')

all_teams = nfl_teams + nba_teams
print(all_teams)

TypeError: can only concatenate list (not "tuple") to list

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [155]:
num = 1
while True:
    cube = num ** 3
    if cube > 1000:
        break
    num += 1
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [162]:
age = int(input('enter your age'))
if age < 18:
    print('kids')
elif age < 65:
    print('adult')
else: 
    print('senior')

adult